.Animal {
  .card-body {
    overflow: hidden;
    .card-title {
      float: left;
      margin: 4px 0;
    }
    .btn-sm {
      float: right;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
